extends layout

block content
  h1 Team #{team}

  p Visar data för team #{team}, #{month} #{year}

  #heatmap
    - var length = [1,2,3,4];
    table.grid
      each row in length
        tr
          each cell in length
            td 

block scripts
  script var points = !{JSON.stringify(data)};
  script(src='/script/heatmap.js'   type='application/javascript')
  script(src='/script/happyheat.js' type='application/javascript')
